/* Customisation to the Bootstrap cover template for use in BootShop 
 * @willchis - Feb 2014 
 * 
 */

.modal-content {
	background-color: #333;
	text-align: left;
}

.item_Quantity {
	display: none;
}

#cart .headerRow,.itemRow {
	width: 100%;
	display: inline-block;
}

.headerRow div, .itemRow div {
	display: inline;
	float: left;
	padding: 4px;
}

#cart .item-name {
	width: 50%;
	padding: 4px;
}
#cart .item-increment, #cart .item-decrement {
	width: 3px;
}

#cart .item-quantity {
	width: 5%;
	text-align: center;
}

#cart .item-total {
	width: 10%;
	margin-left: 10px;
	text-align: center;
}
#cart .item-remove {
	float: right;
}
